<div id="register-info">
    <div class="cont2">
        <div class="thumbnail" style="height:150px;">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" class="img-rounded" style="max-height:150px">
        </div>
        <!-- /thumbnail -->
        <h2>{{event.name}}</h2>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-3">
            <div class="cont3">
                <p>
                    <ok>Date:</ok> {{event.date}}</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="cont3">
                <p>
                    <ok>Time:</ok> {{event.time}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="cont3">
                <p>
                    <ok>Address:</ok> {{event.location.address}}<br/> {{event.location.city}}, {{event.location.province}}</p>
            </div>
        </div>
    </div>
    <!-- /inner row -->
    <br/>
    <hr>
    <div class="cont2">
        <h2>Choose Your Option</h2>
    </div>
    <br>
    <div class="info-user2">
        <span aria-hidden="true" class="li_pen fs1"></span>
        <span aria-hidden="true" class="li_lock fs1"></span>
    </div>
</div>