<a href="event/{{event._id}}">
    <div class="dash-unit">
        <dtitle>{{event.name}}</dtitle>
        <hr>
        <div class="thumbnail" style="height:110px;">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}} image url" class="img-rounded" style="max-height:100px;">
        </div>
        <!-- /thumbnail -->
        <h1>{{event.name}}</h1>
        <h3>Date: {{event.date}}</h3>
        <h3>Time: {{event.time}}</h3>
        <h3>Location: {{event.location.address}}</h3>
        <h3>{{event.location.city}}, {{event.location.province}}</h3>
    </div>
</a>