<div>
    <div class="col-sm-offset-1 col-sm-2">
        <upvote upvote="upvote()" downvote="downvote()" count="session.upVoteCount" />
    </div>
    <div class="col-sm-8">
        <div class="well well">
            <collapsible title="{{session.name}} &#9660;">
                <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                <span>Duration: {{session.duration | durations}}</span><br/>
                <span>Level: {{session.level}} <i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span><br/><br/>

                <p>{{session.abstract}}</p>
            </collapsible>
        </div>
    </div>


    <!--
    <upvote upvote="upvote()" downvote="downvote()" count="session.upVoteCount" />
    <div class="well span9">
        <collapsible title="{{session.name}}">
            <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
            <span>Duration: {{session.duration | durations}}</span><br/>
            <span>Level: {{session.level}} <i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span><br/>

            <p>{{session.abstract}}</p>
        </collapsible>
    </div>
    -->
</div>