<div class="row session">
    <upvote upvote="upvote()" downvote="downvote()" count="session.upVoteCount"/>
    <div class="well span9">
        <collapsible title="{{session.name}}">
            <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
            <span>Duration: {{session.duration | durations}}</span><br/>
            <span>Level: {{session.level}} <i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span><br/>

            <p>{{session.abstract}}</p>
        </collapsible>
    </div>
</div>