<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-lg-10">
        <div class="col-sm-2">
            <h4 style="color: white;"><strong>All Events</strong></h4>
        </div>
        <div class="pull-right col-sm-2" style="color: white;">
            <a type="button" class="btn btn-default" href="admin/addEvent">Add Event</a>
        </div>
        <div class="pull-right col-sm-2" style="margin-bottom:25px; color: white;">
            <select ng-model="sortorder" class="form-control">
                <option selected value="">Order By</option>
                <option value="name">Name</option>
                <option value="date">Date</option>
            </select>
        </div>
        <table class="display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd" ng-repeat="event in events | orderBy:sortorder">
                    <td>{{event.name}}</td>
                    <td>{{event.date}}</td>
                    <td>{{event.time}}</td>
                    <td>{{event.location.address}} {{event.location.city}}, {{event.location.province}}</td>
                    <td>
                        <div class="info-user2" style="padding:0px;">
                            <span aria-hidden="true" style="color:#b2c831; font-size: 21px;" class="li_pen fs1"></span>
                            <span aria-hidden="true" style="color:red; font-size: 21px;" class="li_trash fs1" ng-click="deleteEvent(event._id)"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--/END First Table -->
        <br/>
    </div>
    <!--/span12 -->
</div>