<div class="row">
    <!-- USER PROFILE BLOCK -->
    <div class="col-sm-offset-3 col-sm-6 col-lg-6">
        <div class="dash-unit" style="height:300px;">
            <dtitle>User Registration</dtitle>
            <hr><br/><br/>
            <form class="col-sm-offset-2 col-sm-8">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="doLogin(user)">Login</button>
                <h3 class="pull-right">Don't have an account? <a href="/register">Sign up</a></h3>
            </form>
        </div>
    </div>
</div>