<div>
    <h1>Events</h1>
    <hr/>
    <hr/>
    <ul class="thumbnails">
        <li ng-repeat="user in users | orderBy:username" class="span5">
            <a href="profile/{{user.userName}}">
                <div class="well hoverwell">
                    <div class="row">
                        <h2 class="span6">{{user.userName}}</h2>
                    </div>
                    <div class="row">
                        <span class="span1">Name:</span>
                        <span>{{user.name}}</span>
                    </div>
                    <div class="row">
                        <span class="span1">Email:</span>
                        <span>{{user.emailAddress}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>